* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

.cookie-wrapper {
  bottom: -96px;
  transition: all 1s;
}

.cookie-wrapper.active {
  bottom: 16px;
  transition: all 1s;
}

.blocks-renderer img {
  border-radius: 16px;
  margin-bottom: 32px;
}
